a {
  color: #2780e3;
  text-decoration: none
}

.navbar-default {
  background-color: #0c0c0d;
  border-color: #0c0c0d
}

.navbar-default .navbar-nav > li > a 
{
  color: #b0bec5
}

.navbar-default .navbar-nav > li > a {
    color: #b0bec5
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #b0bec5
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #0c0c0d
}

.navbar-default .navbar-link {
    color: #b0bec5
}

.navbar-default .navbar-link:hover {
    color: #ffffff
}

.navbar-default .btn-link {
    color: #b0bec5
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: #b0bec5
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    color: #b0bec5
}


a:hover, a:focus {
  color: #165ba8;
  text-decoration: underline;
}

.fl      {color: #1514b5;}
.fu      {color: #000000;} /* function */
.ch,.st  {color: #036a07;} /* string */
.kw      {color: #264D66;} /* keyword */
.co      {color: #888888;} /* comment */

.message { color: black;   font-weight: bolder;}
.error   { color: red;     font-weight: bolder;}
.warning { color: orange;  font-weight: bolder;}
